.chip {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px;
}

.chip button {
  cursor: pointer;
  height: 2rem;
}

.edit {
  position: absolute;
  top: calc(100%);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background: var(--bg-color);
  padding: 0 10px;
  min-width: 150px;
  font-size: 12px;
}
